<!DOCTYPE html>
<html>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    People
                </h3>
                <table class="table table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Age
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p : ${people}">
                            <td th:text="${p.id}">
                                id shows up here
                            </td>
                            <td th:text="${p.name}">
                                name shows up here
                            </td>
                            <td th:text="${p.age}">
                                age shows up here
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</html>